<div class="inline-block align-middle">
  <div class="issues--bugs whitespace-no-wrap leading-normal">
    {{fa-icon 'check' fixedWidth=true transform='shrink-4' class='text-green'}}{{removeWhitespace ~}}
    <strong class="text-xs">42</strong>
  </div>
  <div class="issues--untagged whitespace-no-wrap leading-normal">
    {{fa-icon 'times' fixedWidth=true transform='shrink-4' class='text-red'}}{{removeWhitespace ~}}
    <strong class="text-xs">5</strong>
  </div>
</div>
