<h1>
  <a href="https://planninglabs.nyc/" class="site-logo--link">{{removeWhitespace ~}}
    <img src="https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png" class="site-logo" alt="NYC Planning">
    <span class="site-logo--l">L</span>{{removeWhitespace ~}}
    <span class="site-logo--a">a</span>{{removeWhitespace ~}}
    <span class="site-logo--b">b</span>{{removeWhitespace ~}}
    <span class="site-logo--s">s</span>
  </a>
  <span class="font-normal text-xl">Product Dashboard</span>
</h1>
