@import 'tailwind';

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('/fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url('/fonts/Montserrat-Thin.ttf');
}
