/**
 * You can create Tailwind components using @apply here.
 *
 * Feel free to rename this file, define multiple components here, or make
 * any other files in this directory.

 * Here's an example:
**/

/*
.btn-blue {
 @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
 @apply .bg-blue-dark;
}
*/

.repo-card {
  @apply .flex .flex-none .items-center .content-start .rounded .bg-agreeable-grey .m-1 .p-1 .text-grey-darker;
}
