/**
 * You can create Tailwind components using @apply here.
 *
 * Feel free to rename this file, define multiple components here, or make
 * any other files in this directory.

 * Here's an example:
**/

/*
.btn-blue {
 @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
 @apply .bg-blue-dark;
}
*/

a { @apply .no-underline .text-blue-dark; }
a:hover { @apply .text-blue-darker; }

.site-logo {
  height: 1.1em;
  width: auto;
  display: inline-block;
  float: left;
  margin-right: 0.625rem;
}
