/**
 * You can create Tailwind components using @apply here.
 *
 * Feel free to rename this file, define multiple components here, or make
 * any other files in this directory.

 * Here's an example:
**/

/*
.btn-blue {
 @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
 @apply .bg-blue-dark;
}
*/

a { @apply .no-underline .text-blue-dark; }
a:hover { @apply .text-blue-darker; }

.site-logo {
  height: 0.75em;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  /* position: relative; */
  /* top: 0.1em; */
}

.site-logo--link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #ae561f;
}
.site-logo--link:hover {
  color: #8b4519;
}

.site-logo--l {
}
.site-logo--a {
  margin-right: -0.05em;
}
.site-logo--b {
  margin-right: -0.03em;
}
.site-logo--s {
}
