{{ember-notifier position="is-top-right"}}

<div class="flex-col bg-off-white p-8 text-off-black">
  <div class="flex flex-1 items-center">
    {{svg-jar 'github-square' class="ml-8 scale-4 opacity-25"}}
    <span class="font-thin text-4xl m-8">
      NYC Planning Labs Repository Dashboard
    </span>
    <span>
      {{spinkit-spinner loading=true}}
    </span>
  </div>
</div>
