{{ember-notifier position="is-top-right"}}

<div class="p-3">

  {{site-header}}

  <span class="fixed text-5xl text-grey" style="top:30%;left:50%;margin-left:-0.625em">
    {{fa-icon 'sync' spin=true fixedWidth=true}}
  </span>

</div>
